* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* RESUABLE CODE */

:root {
    --box-shadow: -1px 6px 16px -1px rgba(8, 8, 8, 1);
    --btns-background: rgb(29, 106, 193);
    --white: #fff;
    --menu: rgb(189, 201, 213);
    --title: rgb(8, 5, 97);
    --span: rgb(191, 53, 53);
    --gray: rgb(121, 113, 113);
}

body{
    background-color: rgb(250, 246, 246);
}

.container {
    max-width: 140rem;
    padding: 0 4rem;
}

section {
    padding: 2rem 0;
    margin: 1rem 0 1rem 2rem;
}

.grid{
    display: grid;
}

.grid-two-columns{
    grid-template-columns: 10% 90%;
}

/* DASHBOARD RESUABLE SECTION */

aside{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 7rem;
    background: var(--white);
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

#logo{
    text-align: center; 
    display: flex;
    transition: all 0.5s ease;
    padding: 1.2rem 2rem;
}

#logo img{
    position: absolute;
    width: 4rem;
    text-align: center;
}

#logo h3{
    font-weight: 9rem;
    padding: 1rem 6rem;
    text-transform: uppercase;
}

#logo span{
    color: var(--title);
}

#logo h3 {
    color: var(--title);
}

#logo span{
    color: var(--span);
}

a{
  position: relative;
  color: var(--gray);
  font-size: 1.2rem;
  display: table;
  width: 30rem;
  padding: 1rem;
}

aside ul li i{
    position: relative;
    width: 5rem;
    height: 2.5rem;
    top: 0;
    font-size: 1.2rem;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 0;
    margin-left: 1rem;  
}

aside:hover{
    width: 15rem;
    transition: all 0.4s linear;
}

#logout{
    position: absolute;
    bottom: 0;
}

.active{
    background-color: var(--btns-background);
    color: var(--white);
    font-weight: 900;
    height: max-content;
    padding: 1rem 0.6rem; 
    border-radius: 30%;
}
/* DASHBOARD */
 
.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 900;
    height: max-content;
    margin: 1rem;
}

.dashboardSection .dashboard{
    padding: 2rem;
    width: max-content;
    padding: 2rem;
    background-color: var(--white);
    position: fixed;
}


/* DASHBOARD SECTION */

.dashboard h2 {
    padding: 3rem 0;
}

.dashboard p {
    padding: 1rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.dashboard .icons i{
    padding-right: 1rem;
}

.dashboard-active {
    background-color: var(--btns-background);
    border-radius: 2rem;
    color: var(--white);
}

/* DASHBOARD OVERVIEW SECTION */
.dashboardOverview h2{
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
}

.totalAmount {
    background-color: var(--btns-background);
    color: var(--white);
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 2rem auto;
}

.totalAmount h3{
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem auto;
}

.totalAmount p {
    text-align: center;
    font-weight: 900;
    margin: 1rem auto;
}

.dashboardHistory {
    display: flex;
    justify-content: center;
    align-items: center;
}

:is(.totalProducts, .totalOrders, .totalUsers) {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--btns-background);
    color: var(--white);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
}

:is(.totalProducts, .totalOrders, .totalUsers) p {
     font-size: 1.4rem;
}


/* ORDERS SECTION */

.ordersGrid{
    display: grid;
    gap: 2rem;
}

.ordersDashboard{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ordersDataBox{
    background-color: var(--btns-background);
    color: var(--white);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    height: 8rem;
    margin: 1rem auto;
    border-radius: 3rem;
}

/* USERS DASHBOARD */

#productDashboard, #usersDatas, #ordersDashboard{
    display: none;
}

.userTable{
    border-collapse:collapse;
    margin: 3rem 0;
    min-width: 40rem;
    font-size: 1.2rem;
    border-radius: 1rem 1rem 0 0;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.userTable thead{
    text-align: left;
    background-color: var(--btns-background);
    color: var(--white);
    font-weight: 900;
}

.userTable th, .userTable td{
    padding: 1rem 1.2rem;
}

.userTable tbody tr{
    border-bottom: 1px solid var(--btns-background);
}

.userTable tbody tr:nth-of-type(even){
    background:rgb(238, 238, 241);
    
}

.userTable tbody tr:last-of-type{
    border-bottom: 0.3rem solid var(--btns-background);
}


/* DASHBOAR HIDING DATA */

.usersList{
    display: none;
}

.productDashboardSection{
    display: none;
}

.orderList{
    display: none;
}